/* Credit to https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*
    Custom css
*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    max-width: 960px;
    padding-inline: 16px;
    margin-inline: auto;
}

h1 {
  text-align: center;
  margin-bottom: 16px;
}


#calculator-container {
    background-color: oklch(0.8 0.17 79.49);
    padding: 16px;
    border: solid;
    border-color: #3a3a3c;
    border-radius: 8px;
}

#calculator-display {
    background-color: oklch(0.2 0.01 0);
    color: white;
    display: flex;
    align-items: center;
    padding: 16px;
    height: 56px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
}

.cell {
    width: 56px;
    height: 56px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.operator {
    background-color: oklch(0.6 0.11 183.38);
}

.float {
    background-color: oklch(0.48 0.16 271.41);
}

.clear {
    background-color: oklch(0.64 0.22 28.81);
}
